@font-face {
  font-family: ArtexSEMI;
  src: url("/fonts/Artex-SemiExtended-Medium-Italic.woff2");
}
.artexsemi {
  font-family: ArtexSEMI;
}

@font-face {
  font-family: ArtexSEM;
  src: url("/fonts/Artex-SemiExtended-Medium.woff2");
}
.artexsem {
  font-family: ArtexSEM;
}

@font-face {
  font-family: Artex;
  src: url("/fonts/Artex-Regular.woff2");
}
.artex {
  font-family: Artex;
}

@font-face {
  font-family: ArtexM;
  src: url("/fonts/Artex-Medium.woff2");
}
.artexm {
  font-family: ArtexM;
}

@font-face {
  font-family: ArtexSE;
  src: url("/fonts/Artex-SemiExtended-Regular.woff2");
}
.artexse {
  font-family: ArtexSE;
}