@font-face {
  font-family: ArtexSEMI;
  src: url("https://raw.githubusercontent.com/doubletempo/website/master/fonts/Artex-SemiExtended-Medium-Italic.woff2");
}
.artexsemi {
  font-family: ArtexSEMI;
}

@font-face {
  font-family: ArtexSEM;
  src: url("https://raw.githubusercontent.com/doubletempo/website/master/fonts/Artex-SemiExtended-Medium.woff2");
}
.artexsem {
  font-family: ArtexSEM;
}

@font-face {
  font-family: Artex;
  src: url("https://raw.githubusercontent.com/doubletempo/website/master/fonts/Artex-Regular.woff2");
}
.artex {
  font-family: Artex;
}

@font-face {
  font-family: ArtexM;
  src: url("https://raw.githubusercontent.com/doubletempo/website/master/fonts/Artex-Medium.woff2");
}
.artexm {
  font-family: ArtexM;
}

@font-face {
  font-family: ArtexSE;
  src: url("https://raw.githubusercontent.com/doubletempo/website/master/fonts/Artex-SemiExtended-Regular.woff2");
}
.artexse {
  font-family: ArtexSE;
}

* {
  font-family: "Poppins", sans-serif;
}

.alexandria {
  font-family: "Alexandria", sans-serif;
}

.text-fuchsia-custom {
  color: #FF8BFF;
}

.bg-fuchsia-custom {
  background: #FF8BFF;
}

.text-dark {
  color: #181937;
}

html {
  scroll-behavior: smooth;
}